<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 01: Evaluate the Ad Budget Dataset of XYZ Firm

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: Import the dataset

In [2]:
#Import the required libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

ModuleNotFoundError: No module named 'sklearn'

In [2]:
#Import the advertising dataset
data = pd.read_csv("Advertising Budget and Sales.csv")

#### 2: Analyze the dataset

In [3]:
#View the initial few records of the dataset
data.head()

,Unnamed: 0,TV Ad Budget ($),Radio Ad Budget ($),Newspaper Ad Budget ($),Sales ($)
0,1,230.1,37.8,69.2,22.1
1,2,44.5,39.3,45.1,10.4
2,3,17.2,45.9,69.3,9.3
3,4,151.5,41.3,58.5,18.5
4,5,180.8,10.8,58.4,12.9

In [5]:
#Check the total number of elements in the dataset
data.size

1000

#### 3: Find the features or media channels used by the firm

In [6]:
#Check the number of observations (rows) and attributes (columns) in the dataset
data.shape

(200, 5)

In [7]:
#View the names of each of the attributes
data.columns

Index(['Unnamed: 0', 'TV Ad Budget ($)', 'Radio Ad Budget ($)',
       'Newspaper Ad Budget ($)', 'Sales ($)'],
      dtype='object')

#### 4: Create objects to train and test the model; find the sales figures for each channel

In [10]:
#Create a feature object from the columns
data_feature = data[['TV Ad Budget ($)','Radio Ad Budget ($)','Newspaper Ad Budget ($)']]

In [11]:
#View the feature object
data_feature.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
0             230.1                 37.8                     69.2
1              44.5                 39.3                     45.1
2              17.2                 45.9                     69.3
3             151.5                 41.3                     58.5
4             180.8                 10.8                     58.4

In [12]:
#Create a target object (Hint: use the sales column as it is the response of the dataset)
data_target = data['Sales ($)']

In [13]:
#View the target object
data_target.head()

0    22.1
1    10.4
2     9.3
3    18.5
4    12.9
Name: Sales ($), dtype: float64

In [14]:
#Verify if all the observations have been captured in the feature object
data_feature.shape

(200, 3)

In [15]:
#Verify if all the observations have been captured in the target object
data_target.shape

(200,)

#### 5: Split the original dataset into training and testing datasets for the model

In [18]:
#Split the dataset (by default, 75% is the training data and 25% is the testing data)
train_x,test_x,train_y,test_y = train_test_split(data_feature,data_target)

In [19]:
#Verify if the training and testing datasets are split correctly (Hint: use the shape() method)
print(train_x.shape)
print(test_x.shape)
print(train_y.shape)
print(test_y.shape)

(150, 3)
(50, 3)
(150,)
(50,)

#### 6: Create a model  to predict the sales outcome

In [22]:
#Create a linear regression model
linreg = LinearRegression()
linreg.fit(train_x,train_y)

LinearRegression()

In [24]:
#Print the intercept and coefficients 
print(linreg.intercept_)
print(linreg.coef_)

3.0800809986020763
[ 0.04631032  0.18602034 -0.00689677]

In [25]:
#Predict the outcome for the testing dataset
pred_y = linreg.predict(test_x)

#### 7: Calculate the Mean Square Error (MSE)

In [1]:
#Import required libraries for calculating MSE (mean square error)
from sklearn import metrics
from sklearn.metrics import r2_score

ModuleNotFoundError: No module named 'sklearn'

In [28]:
#Calculate the MSE
mse = np.sqrt(metrics.mean_squared_error(pred_y,test_y))

In [29]:
mse

1.5414164490545779